.carousel {
  overflow: hidden;
}

.inner-item {
  white-space: nowrap;
  transition: transform 0.3s;
}

.carousel-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  background-color: tomato;
  color: white;
}
